.mb-md-xxl{
    margin-bottom: 402px;
}
.mt-xxl{
    padding-top: 0px;
    @include md-size{
        padding-top: 480px;
    }
}
.scroll-style{
    background: #172A39;
}

.index-banner{
    height: 810px;
    background: url("assets/img/index-img/index-banner.png");
    background-position: center center;
    background-size:cover ;
    object-fit: contain;
}
.banner-select{
    background: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.59 0.589844L6 5.16984L1.41 0.589844L0 1.99984L6 7.99984L12 1.99984L10.59 0.589844Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat;
}
.select-area-position{
    background-position: 80px;
    @include md-size{
        background-position: 70px;
    }

}
.select-case-position {
    background-position: 140px;
    @include md-size{
        background-position: 80px;
    }

}
.search-btn{
img{
    max-width: 24px;
}
}
.introduce-card{
    h3{
        font-size: 3rem;
    }
}
.situational-photo{
    background: url("assets/img/index-img/situational-photo.png");
    border-radius: 1rem;
    height: 627px;
    background-position: center center;
    background-size:cover ;
    object-fit: contain;
    @include md-size{
        height: 300px;
        background-position: center center;
        background-size:cover ;
        object-fit: contain;
    }
    @include mobile480{
        height: 200px;
    }
}
.service-box{
    height: 728px;
    background: url("assets/img/index-img/group-photo.jpg");
    background-position: center center;
    background-size:cover ;
    object-fit: contain;
    @include mobile480{
        height: 436px;
    }
}
.praise-content {
   max-width: 736px;
  }
.case-introduction-banner{
    background: url("assets/img/index-img/index-background.jpeg") no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: contain;
    @include md-size {
        background:rgba(226, 186, 164, 0.2);
    }
   }
.member-photo{
    height: 64px;
    width: 64px;
}

.join-photo{
    background: url("assets/img/index-img/join-photo.png");
    border-radius:1rem;
    height: 467px;
    background-position: center center;
    background-size:cover ;
    object-fit: contain;
    @include mobile480{
        height: 245px;
    }
}
//確認驗證標籤內能不能放 class ，先放
//email
#loginEmail,#lawyerLoginEmail,#registerEmail,#lawyerRegisterEmail{
    @include input-icon(url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM18 4L10 9L2 4V2L10 7L18 2V4Z' fill='%23172A39'/%3E%3C/svg%3E%0A"),5px,9px);
}
.divider{
    position: relative;
    &::before{
        @include divider-s(#000,60%,52%,40%);
    }
    &::after{
        @include divider-e(#000,60%,52%,40%);
    }
}
//password
#loginPassword,#lawyerLoginPassword,#registerPassword,#registerCheckPassword,#lawyerRegisterPassword,#lawyerCheckPassword{
    @include input-icon(url("data:image/svg+xml,%3Csvg width='22' height='12' viewBox='0 0 22 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.65 4C10.83 1.67 8.61 0 6 0C2.69 0 0 2.69 0 6C0 9.31 2.69 12 6 12C8.61 12 10.83 10.33 11.65 8H16V12H20V8H22V4H11.65ZM6 8C4.9 8 4 7.1 4 6C4 4.9 4.9 4 6 4C7.1 4 8 4.9 8 6C8 7.1 7.1 8 6 8Z' fill='%23172A39'/%3E%3C/svg%3E%0A"),5px,9px);
}
#lawyerPhone{
    @include input-icon(url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.62 7.79C5.06 10.62 7.38 12.93 10.21 14.38L12.41 12.18C12.68 11.91 13.08 11.82 13.43 11.94C14.55 12.31 15.76 12.51 17 12.51C17.55 12.51 18 12.96 18 13.51V17C18 17.55 17.55 18 17 18C7.61 18 0 10.39 0 1C0 0.45 0.45 0 1 0H4.5C5.05 0 5.5 0.45 5.5 1C5.5 2.25 5.7 3.45 6.07 4.57C6.18 4.92 6.1 5.31 5.82 5.59L3.62 7.79Z' fill='%23172A39'/%3E%3C/svg%3E%0A"),5px,9px);
}

/*首頁相關其他頁面*/
.banner{
  height: 603px;
    background: url("https://fakeimg.pl/1440x603/");
    background-position: center center;
    background-size:cover ;
    object-fit: contain;
}
//律師列表
.lawyer-solvation-banner{
    background: url("assets/img/lawyer-solvation-img/lawyer-solvation-banner.png");
    height: 603px;
    background-position: center center;
    background-size:cover ;
    object-fit: contain;
    @include mobile375{
        background: url("assets/img/lawyer-solvation-img/lawyer-solvation-mobile.png") no-repeat;
        height: 500px;
    }
}
.lawyer-card{
    max-width: 356px;
    &:hover{
        background: rgba(226, 186, 164, 0.2);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
//q&a 頁
.question-text{
    padding-left: 30%;
    padding-right: 30%;
    @include iphone{
        padding-left: 0;
        padding-right: 0;
    }
}

//知識 + 頁
.knowledge-banner{
    background: url("assets/img/knowledge-img/knowledge-banner.png");
    height: 603px;
    background-position: center center;
    background-size:cover ;
    object-fit: contain;
    @include mobile375{
        background: url("assets/img/knowledge-img/knowledge-mobile.png") no-repeat;
        height: 500px;
    }
}
.knowledge-card{
    max-width: 356px;
    &:hover{
        background: rgba(226, 186, 164, 0.2);
    }
}
.knowledge-type{
    white-space: nowrap;
}
