//input icon 定位用
@mixin input-icon($icon,$height,$weight) {
    background-position: $height $weight;
    background-image: $icon;
    background-repeat: no-repeat;
    padding-left: 2rem;
  }
// 分隔線
@mixin divider-s($bg-color,$left-spacer,$top-spacer,$width){
    content: '';
    position: absolute;
    height: 1px;
    background: $bg-color;
    left: $left-spacer;
    top: $top-spacer;
    width: $width;
}
@mixin divider-e($bg-color,$right-spacer,$top-spacer,$width){
    content: '';
    position: absolute;
    height: 1px;
    background: $bg-color;
    right: $right-spacer;
    top: $top-spacer;
    width: $width;
}