*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
ol,
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: black;
  &:hover{
    color: black;
  }
}
input,
select {
  appearance: none;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
